@model ProductsViewModel
@{
	ViewData["Title"] = "Admin";
}

<h3>ADMINISTRATOR PAGE</h3>

<div class="d-flex gap-5 justify-content-center">
<a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="AddProduct">Aggiungi prodotto</a>
<a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="AddCategory">Aggiungi categoria</a>
</div>

<div class="row">
	@foreach (var product in Model.Products)
	{

			<div class="col-md-3 mb-3">
				<div class="card">
					<img src="@product.ImageURL" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">@product.ProductName</h5>
						<p class="card-text">@product.Price.ToString("C")</p>
							<p class="card-text">@product.Description</p>
					<p class="card-text">@product.Stock</p>
					<p class="card-text">@product.Category</p>
						<a class="btn btn-warning">EDIT</a>
						<a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.IdProduct">DELETE</a>
					</div>

				</div>
			</div>
		
	}
</div>