@model ProductDetailsModel

@{
    ViewData["Title"] = "Product Details";
}

<h2 class="text-white mb-4 text-center">Product Details</h2>

<div class="row p-5 d-flex align-items-center gap-4">
    <div class="col-md-5 p-2 bg-white">
        <img src="@Model.ImageURL" class="img-fluid w-100" alt="@Model.ProductName" style="width: 400px; height: 400px; object-fit: contain; object-position: center;" />
    </div>
    <div class="col-md-6 p-2">
        <h3 class="text-white mb-4">@Model.ProductName</h3>
        <p class="text-white mb-2"><strong>Description:</strong> @Model.Description</p>
        <p class="text-white mb-2"><strong>Additional Description:</strong> @Model.DescriptionExtra</p>
        <p class="text-white mb-2"><strong>Price:</strong> @Model.Price.ToString("C")</p>
        <p class="text-white mb-2"><strong>Stock:</strong> @Model.Stock</p>
        <p class="text-white mb-3"><strong>Category:</strong> @Model.CategoryName</p>

        @* <form asp-action="AddToCart" method="post">
            <input type="hidden" asp-for="IdProduct" value="@Model.IdProduct" />
            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" class="form-control mt-1 w-50" id="Quantity" asp-for="Quantity" min="1" max="@Model.Stock" value="1" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="d-flex w-50">
            <input type="submit" value="Add to Cart" class="btn btn-success mt-2 me-3" asp-controller="Admin" asp-action="AddToCart" asp-route-cartProductId="@Model.IdProduct"/>
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger mt-2">Back</a>
            </div>
        </form> *@
        <a class="btn btn-success mt-2 me-3" asp-controller="Admin" asp-action="AddToCart" asp-route-cartProductId="@Model.IdProduct">Aggiungi al carrello</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}