@model ProductsViewModel

@{
    ViewData["Title"] = "Home Page";
    foreach (var product in @Model.Products) {
        Console.WriteLine(product.ProductName);
        Console.WriteLine(product.IdProduct);
    }
}

<div class="container-fluid mt-4" id="Pc">

    @{
        var index = 0;
        foreach (var category in ViewBag.Categories)
        {
			index++;
            var carouselId = $"carousel{index}";
            <div class="container-fluid py-4" id="carosello">
                <h4 class="text-white fw-bold mb-2">@category.CategoryName</h4>
                <div id=@carouselId class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">


                        @{
                            var productsInCategory = Model.Products.Where(p => p.CategoryName == category.CategoryName).ToList();
                            var productGroups = productsInCategory.Select((product, index) => new { product, index })
                            .GroupBy(x => x.index / 4)
                            .Select(g => g.Select(x => x.product).ToList())
                            .ToList();
                        }

                        @for (int i = 0; i < productGroups.Count; i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        @foreach (var product in productGroups[i])
                                        {
                                            <div class="col-12 col-md-6 col-lg-3">
                                                <div class="card cardHome">
                                                    <img src="@product.ImageURL" class="card-img-top pt-4" alt="@product.ProductName">
                                                
                                                     <div class="card-body">
                                                        <h5 class="card-title text-center product-name">@product.ProductName</h5>
                                                        <h5 class="card-title text-primary fw-bolder text-center">@product.Price.ToString("C")</h5>
                                                        <p class="card-text text-center">@product.Description</p>
                                                        <div class="d-flex flex-column">

                                                        <a asp-controller="Admin" asp-action="Details" asp-route-id="@product.IdProduct" class="btn btn-home2 mb-2" style="width: fit-content; align-self: center">Dettagli</a>
                                                       
                                                        <a class="btn btn-home" style="width: fit-content; align-self: center" asp-controller="Home" asp-action="AddToCart" asp-route-cartProductId="@product.IdProduct">+ Carrello</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }


                        <button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            
                        <button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            
                       

                    </div>
                </div>
            </div>
        }
    }

    
</div>

<script>
	const quantity = document.getElementById('quantity');

	quantity.addEventListener('input', (e) => {
		console.log(e.target.value);
	});
</script>